<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
			integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
			crossorigin="anonymous"
		/>
		<link rel="preconnect" href="https://fonts.gstatic.com">
    	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/css/style.css" />
		<title>StuddyBuddy </title>
		<style>
			body{
            background-repeat: no-repeat;
            background-size: cover;
			font-family: 'Montserrat', sans-serif;
        }
		</style>
	</head>
	<body>
		
		<a class="logoutbutton" href="/users/login"> Logout </a>
		<div class="join-container">
			<header class="join-header">
				<h1> ROOM</h1>
			</header>
			<main class="join-main">
				<form action="/users/chat">
					<div class="form-control">
						<label for="username">Username</label>
						<input
							type="text"
							name="username"
							id="username"
							placeholder="Enter username..."
							required
						/>
					</div>
					<div class="form-control">
						<label for="room">Room Code</label>
						<input
							type="text"
							name="room"
							id="room"
							placeholder="Enter Room code"
							required
						/>
					</div>
					<button type="submit" class="joinbutton">Join Room</button>
				</form>
			</main>
		</div>
		<script src='/js/sample2.js'></script>
	</body>
</html>